#!/bin/sh

mkdir -p /target/root/.ssh
{% for key in admin_ssh_keys %}
  echo "{{ key.type }} {{ key.key }} {{ key.name }}" >> /target/root/.ssh/authorized_keys
{% endfor %}
chmod 400 /target/root/.ssh/authorized_keys

wget -O - '{{ zygote_store.report_state_url }}?id={{ prov_id.stdout }}&state=finished-preseed-late-command'

