{{ ansible_managed | comment }}
interface={{ zygote_network.interface }}
bind-interfaces
dhcp-range={{ dhcp_server_ipv4_range_begin }},{{ dhcp_server_ipv4_range_end }}
dhcp-hostsfile={{ zygote_config.config_root }}/hosts-{{ zygote_network.interface }}.d
dhcp-leasefile={{ zygote_config.config_root }}/leases-{{ zygote_network.interface }}
conf-file={{ zygote_config.config_root}}/dnsmasq-{{ zygote_network.interface }}.parts.conf
domain={{ zygote_network.dns_domain }}
dhcp-fqdn
enable-tftp={{ zygote_network.interface }}
tftp-root={{ zygote_store.tftproot }}
