{{ ansible_managed | comment }}
interface={{ zygote_network.interface }}
dhcp-range={{ zygote_network.dhcp_server.ipv4_range_begin }},{{ zygote_network.dhcp_server.ipv4_range_end }}
dhcp-hostsdir={{ zygote_config.config_root }}/hosts-{{ zygote_network.interface }}.d
conf-dir={{ zygote_config.config_root}}/dnsmasq-{{ zygote_network.interface }}.conf.d
enable-tftp={{ zygote_network.interface }}
tftp-root={{ zygote_store.tftproot }}
