{{ ansible_managed | comment }}
[Unit]
Description=A lightweight DHCP and caching DNS server for zygote interface %i
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c "/usr/local/bin/merge-parts {{ zygote_config.config_root}}/dnsmasq-{{ zygote_network.interface }}.conf.d > {{ zygote_config.config_root}}/dnsmasq-{{ zygote_network.interface }}.parts.conf"
ExecStartPre=/usr/sbin/dnsmasq --test
ExecStart=/usr/sbin/dnsmasq -k --user=dnsmasq -C {{ zygote_config.config_root }}/dnsmasq-%i.conf

[Install]
WantedBy=multi-user.target
