#!/usr/bin/python2
{{ ansible_managed | comment }}

import os
import os.path
import json

def find_all(name, path):
    result = []
    for root, dirs, files in os.walk(path):
        if name in files:
            result.append(os.path.join(root, name))
    return result

images = {}
for imageconfig in find_all('imageconfig.json', '{{ zygote_store.tftproot }}/images'):
	with open(imageconfig, "r") as f:
		images[os.path.basename(os.path.dirname(imageconfig))] = json.load(f)

print(json.dumps(images))
