{# Manual booting #}
{# INCLUDE ::{{ imageconfig.tgt_dir }}/isolinux/isolinux.cfg #}

{# Automatic boot - docache #}
DEFAULT rescuecd_auto

LABEL rescuecd_auto
KERNEL ifcpu64.c32
APPEND rescue64 setkmap=us {% if srm_modules is defined %} loadsrm={{ srm_modules | join(',')}} {% endif %} ar_nowait ar_source={{ zygote_store.http_baseurl }}/{{ prov_dir }}/boot/autorun autoruns=1,2,9 netboot={{ zygote_store.http_baseurl }}/{{ imageconfig.tgt_dir }}/sysrcd.dat docache -- rescue32 setkmap=us {% if srm_modules is defined %} loadsrm={{ srm_modules | join(',')}} {% endif %} ar_nowait ar_source={{ zygote_store.http_baseurl }}/{{ prov_dir }}/boot/autorun autoruns=1,2,9 netboot=http://{{ zygote_store.http_baseurl }}/{{ imageconfig.tgt_dir }}/sysrcd.dat docache

LABEL rescue32
MENU HIDE
LINUX rescue32
INITRD initram.igz

LABEL rescue64
MENU HIDE
LINUX rescue64
INITRD initram.igz

